{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data" value="Save">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy}}
            </fieldset>
            <p>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" value="Save">Update</button>
            </div>

        </form>

    </div>

{% endblock content %}