{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
</br>
<main>
	<div class="album py-5 bg-light">
		<div class="row">
			<div class="col-lg-3">
				{% for shop in shops %}
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{shop.logo.url}}" height="200" width="500">
					<div class="box-element product">
						<h6><strong>{{shop.name}} Market</strong></h6>
						<h4><strong>{{shop.address}}</strong></h4>
						<hr>
						<button data-product="#" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Buy</button>
						<a class="btn btn-outline-success" href="{% url 'shop_item' shop.id %} ">View</a>
						<h4 style="display: inline-block; float: right"><strong>{{shop.phone}}</strong></h4>
					</div>
					<br>
				</div>

			</div>
{% endfor %}	</div>
	  </div>
	</main>







{% endblock content %}
